<h1>Welcome to Readit, <%= @user.email %></h1>

<p>We have a few rules....</p>

<ol>
  <li>Be nice.</li>
  <li>Be yourself.</li>
  <li>If you're correcting someone, do your research first.</li>
  <li>Don't be a hater.</li>
  <li>No soliciting</li>
</ol>

<p>I recommend you start by making a post <%= link_to 'here', new_post_url %>.

<p>If I may ask, what are you hoping to get out of using Readit? Please reply to this message. Happy to chat.</p>

<p>Thank you again for signing up!</p>

<p>Ian</p>
